 @charset "utf-8";
 
		html{
			
			width:100%;
			height:100%;
			margin:0;
			padding:0;
			direction:ltr;
			overflow-x:hidden;
			overflow-y:scroll;
			
		}
		
		body{
			
			width:100%;
			height:100%;
			margin:0;
			padding:0;
			border:none;
			outline:none;
			background-color:white;
			font-family:Arial, "Helvatica Neue" , Helvatica, sans-serif;
			color:#646464;
			line-height:1.5;
			font-style:normal;
			font-variant:normal;
			font-weight:normal;
			text-align:center;
			text-decoration:none;
			
		}
 
	@media only screen and (min-width:1200px){      /* xl */
		
		body{
			
			font-size:14px;
			
		}
	}
	
	@media only screen and (min-width:992px) and (max-width:1199px){    /* l */
		
		body{
			
			font-size:13px;
			
		}
	}
	
	@media only screen and (min-width:768px) and (max-width:991px){    /* m */
		
		body{
			
			font-size:12px;
			
		}
	}
	@media only screen and (min-width:576px) and (max-width:767px){    /* s */
		
		body{
			
			font-size:12px;
			
		}
	}
	
	@media only screen and (max-width:575px){    /* xs */
		
		body{
			
			font-size:12px;
			
		}
	}
	
	
	#allpage{
		
	position:relative;
	width:100%;
	min-width:100%;
	max-height:100%;
	height:100%;
	max-height:100%;
	min-height:100%;
	margin:0 auto;
	padding:0;
	top:0;
	right:0;
	bottom:0;
	left:0;
	border:none;
	outline:none;
	background-color:white;
	
	
	}
	
		#headerarea{
			
			position:fixed;
			display:block;
			z-index:100;
			width:100%;
	        min-width:100%;
	        max-width:100%;
			height:120px; 
			max-height:120px;
			min-height:120px;
			margin:0 auto;
			padding:0;
			top:0;
			right:0;
			bottom:0;
			left:;
			border:none;
			outline:none;
			/* background-color:red; */
			text-align:center;
			
			
	
			
		}
	
	#heradermesagearea{
		
			position:fixed;
			display:block;
			z-index:100;
			width:100%;
	        min-width:100%;
	        max-width:100%;
			margin:0 auto;
			padding:0;
			border:none;
			outline:none;
			vertical-align:top;
			text-align:center;
			background-color:#111111;
			
			
		
	}
	

	@media only screen and (min-width:1200px){      /* xl */
		
		#heradermesagearea{
			height:100px;
			max-height:100px;
			min-height:100px;

			
			
			
		}
	}
	
	@media only screen and (min-width:992px) and (max-width:1199px){    /* l */
		
		#heradermesagearea{
			height:77px;
			max-height:77px;
			min-height:77px;
			
		}
	}
	
	@media only screen and (min-width:768px) and (max-width:991px){    /* m */
		
		#heradermesagearea{
			height:77px;
			max-height:77px;
			min-height:77px;
			
		}
	}
	@media only screen and (min-width:576px) and (max-width:767px){    /* s */
		
		#heradermesagearea{
			height:77px;
			max-height:77px;
			min-height:77px;
			
		}
	}
	
	@media only screen and (max-width:575px){    /* xs */
		
		#heradermesagearea{
			height:77px;
			max-height:77px;
			min-height:77px;
			
		}
	}	
	
	#heradermesagearea img#logo{
		
		margin:0 auto;
		padding:0;
		border:none;
		outline:none;
	
		
			
	}
	
	
	
	@media only screen and (min-width:1200px){      /* xl */
		
		#heradermesagearea img#logo{

			display:block;
			width:144px;
			max-width:144px;
			min-width:144px;
			height:77px;
			max-height:77px;
			min-height:77px;
		
			
			
		}
	}
	
	@media only screen and (min-width:992px) and (max-width:1199px){    /* l */
		
		#heradermesagearea img#logo{
			
			display:block;
			width:144px;
			max-width:144px;
			min-width:144px;
			height:77px;
			max-height:77px;
			min-height:77px;
		}
	}
	
	@media only screen and (min-width:768px) and (max-width:991px){    /* m */
		
		#heradermesagearea img#logo{
			display:block;
			width:144px;
			max-width:144px;
			min-width:144px;
			height:77px;
			max-height:77px;
			min-height:77px;
		}
	}
	@media only screen and (min-width:576px) and (max-width:767px){    /* s */
		
		#heradermesagearea img#logo{
			display:block;
			width:144px;
			max-width:144px;
			min-width:144px;
			height:77px;
			max-height:77px;
			min-height:77px;
		}
	}
	
	@media only screen and (max-width:575px){    /* xs */
		
		#heradermesagearea img#logo{
			display:block;
			width:144px;
			max-width:144px;
			min-width:144px;
			height:77px;
			max-height:77px;
			min-height:77px;
			
		}
	}	
	
	#headermenuarea{
		
		display:block;
		width:100%;
		min-width:100%;
		max-width:100%;
		height:auto;
		margin:0 auto;
		padding:0;
		border:none;
		border-bottom:1px solid #CCC;
		outline:none;
		vertical-align:top;
		text-align:center;
		
	
		
	}

		#headermenutoparea{
			
			display:block;
			width:100%;
			min-width:100%;
			max-width:100%;
			height:120px;
			max-height:120px;
			min-height:120px;
			margin:0 auto;
			padding:0;
			overflow:hidden;
			border:none;
			border-top:2px solid #0077BB;
			outline:none;
			background-color:white;
			vertical-align:top;
			text-align:center;
		
					
			
		}
		
		#headermenutopborderarea{
			display:block;
			position:relative;
			height:auto;
			max-height:120px;
			min-height:120px;
			width:100%;
			min-width:100%;
			max-width:100%;
			margin:0 auto;
			padding:0;
			overflow:hidden;
			border:none;
			outline:none;
			background-color:white;
			text-align:center;
			vertical-align:top;
			background-color:#F8F8FF;
			z-index:100;
			top:78px;
					
			

			
			
		}
		
		
		
		
	
	
	@media only screen and (min-width:1200px){      /* xl */ 
		
		#headermenutopborderarea{

			width:100%;
			max-width:100%;
			min-width:100%;
			
			
		
			
			
		}
	}
	
	
	
	@media only screen and (max-width:1199px){    /* l */  
		
		#headermenutopborderarea{
			
			width:100%;
			max-width:100%;
			min-width:100%;
		
		}
	}
		

	
	
	
	
	

		#headermenutopselectionarea{
			z-index:100;
			position:absolute;
			display:inline-block;	
			list-style:none;
			width:100%;
			float:left;
			height:50px;
			min-height:50px;
			max-height:50px;
			/* overflow:hidden; */
			margin:0 auto;
			padding:0;
			border:none;
			outline:none;	
			text-align:top;
			vertical-align:top;
		
			
			
			
			
			
	
		}
		
		
		
		
		
		
		
		
		
			.headermenutopselections{
				z-index:100;
				display:inline-block;
				position:relative;
				right:250px;
				float:left;
				margin:0 auto;
				padding-top:7px;
				padding-left:20px;
				border:none;
				outline:none;
				font-family:Arial, "Helvatica Neue" , Helvatica, sans-serif;
				color:black;
				line-height:1.5;
				font-size:20px;
				font-style:normal;
				font-variant:normal;
				font-weight:normal;
				text-align:center;
				text-decoration:none;
				vertical-align:top;
				overflow:hidden;
			
	
			
			
			
			
			
			}
			
			@media only screen and (min-width:1200px){      /* xl */
		
		.headermenutopselections{
	
			font-size:20px;
			
			
		}
	}
	
	@media only screen and (min-width:992px) and (max-width:1199px){    /* l */
		
		.headermenutopselections{
		
			font-size:17px;
	
		}
	}
	
	@media only screen and (min-width:768px) and (max-width:991px){    /* m */
		
		.headermenutopselections{
		
			font-size:15px;
			
		}
	}
	@media only screen and (min-width:576px) and (max-width:767px){    /* s */
		
		.headermenutopselections{
			
			font-size:13px;
			
		}
	}
	
	@media only screen and (max-width:575px){    /* xs */
		
		.headermenutopselections{
		
			font-size:11px;
			
		}
	}	
		
			
			
			
			
			
			
			
			
			.headermenutopselections a{
				
				font-family:Arial, "Helvatica Neue" , Helvatica, sans-serif;
				color:black;
				font-style:normal;
				font-variant:normal;
				font-weight:normal;
				text-align:center;
				text-decoration:none;

			}
			
			.headermenutopselections a:link, .headermenutopselections a:active, .headermenutopselections a:visited {
				
				font-family:Arial, "Helvatica Neue" , Helvatica, sans-serif;
				color:black;
				font-style:normal;
				font-variant:normal;
				font-weight:normal;
				text-align:center;
				text-decoration:none;

			}
			
			.headermenutopselections a:hover {
				
				font-family:Arial, "Helvatica Neue" , Helvatica, sans-serif;
				color:green;
				font-style:normal;
				font-variant:normal;
				font-weight:normal;
				text-align:center;
				text-decoration:none;

			}
			
			
			
			  main{
				
				position:relative;
				display:block;
				z-index:90;
				width:100%;
				max-width:100%;
				min-width:100%;
				height:auto;
				margin:0 auto;
				top:150px;
				left:0;
				border:none;
				outline:none;
				background-color:white;
				vertical-align:top;
				text-align:center;
				
				
			}
			
			
				footer{
				
				position:relative;
				display:block;
				z-index:90;
				width:100%;
				max-width:100%;
				min-width:100%;
				height:auto;
				margin:0 auto;
				top:232px;
				left:0;
				border:none;
				outline:none;
				background-color:white;
				vertical-align:top;
				text-align:center;
				
				
			}
			
			
			
			#footermenuarea{
				display:block;
				width:100%;
				max-width:100%;
				min-width:100%;
				margin:0 auto;
				border:none;
				padding-top:px;
				padding-bottom:px;
				outline:none;
				background-color:#cccccc;
				border-top:1px solid #ccc;
				text-align:center;
				
				
						
			}
			
			#footermenuborderarea{
				
				
				display:block;
				height:auto;
				margin:0 auto;
				padding:0;
				overflow:hidden;
				border:none;
				outline:none;
				text-align:center;
				vertical-align:middle;
				background-color:#cccccc;
				
				
				
				
				
			}
			
			
	@media only screen and (min-width:1200px){      /* xl */
		
		#footermenuborderarea{

			width:100%;
			max-width:100%;
			min-width:100%;
			
	
			
			
		}
	}
	
	
	
	@media only screen and (max-width:1199px){    /* l */
		
		#footermenuborderarea{
			
			width:100%;
			max-width:100%;
			min-width:100%;
		
		}
	}
	
			
			
			/* .footermenucolumnsmenusarea{ */
				
				/* display:inline-block; */
				/* float:left; */
				/* height:auto; */
				/* margin:15px; */
				/* padding:10px; */
				/* overflow:hidden; */
				/* border:none; */
				/* outline:none; */
				/* text-align:center; */
				/* vertical-align:center; */
				
				
		
				
			/* } */
			
			
			
	/* @media only screen and (min-width:1200px){      /* xl */ 
		
		/* .footermenucolumnsmenusarea{ */
		
			/* width:25%; */
			/* max-width:25%; */
			/* min-width:25%; */
		
			
			
		/* } */
	/* } */
	
	/* @media only screen and (min-width:992px) and (max-width:1199px){    /* l */ 
		
		/* .footermenucolumnsmenusarea{ */
			
			/* width:25%; */
			/* max-width:25%; */
			/* min-width:25%; */
		
		/* } */
	/* } */
	
	/* @media only screen and (min-width:768px) and (max-width:991px){    /* m */ 
		
		/* .footermenucolumnsmenusarea{ */
		
			/* width:100%; */
			/* max-width:100%; */
			/* min-width:100%; */
		
		/* } */
	/* } */
	/* @media only screen and (min-width:576px) and (max-width:767px){    /* s */ 
		
		/* .footermenucolumnsmenusarea{ */
			/* width:100%; */
			/* max-width:100%; */
			/* min-width:100%; */
		
	/* } */
	/* } */
	
	/* @media only screen and (max-width:575px){    /* xs */ 
		
		/* .footermenucolumnsmenusarea{ */
			/* width:100%; */
			/* max-width:100%; */
			/* min-width:100%; */
			
		/* } */
	/* }		 */
			
			
			
			
			.footermenucolumnstitle{
				
				
				display:block;
				width:100%;
				max-width:100%;
				min-width:100%;
				height:auto;
				margin:0 auto;
				margin-bottom:5px;
				padding:0;
				padding-bottom:px;
				overflow:hidden;
				
				border-bottom:1px solid #8e8e8e;
				color:black;
				outline:none;
				font-family:Arial, "Helvatica Neue" , Helvatica, sans-serif;
				font-style:normal;
				font-size:15px;
				font-variant:normal;
				font-weight:normal;
				text-align:center;
				text-decoration:none;
				vertical-align:top;
				
				
			}
			
			
	@media only screen and (min-width:1200px){      /* xl */
		
		.footermenucolumnstitle{
		
				font-size:15px;
			
		}
			}

	@media only screen and (min-width:992px) and (max-width:1199px){    /* l */
		
		.footermenucolumnstitle{
			
			font-size:14px;
		}
	}
	
	@media only screen and (min-width:768px) and (max-width:991px){    /* m */
		
		.footermenucolumnstitle{
		
			font-size:13px;
		}
	}
	@media only screen and (min-width:576px) and (max-width:767px){    /* s */
		
		.footermenucolumnstitle{
			
			font-size:12px;
	}
	}
	
	@media only screen and (max-width:575px){    /* xs */
		
		.footermenucolumnstitle{

		font-size:12px;

		}
	}		
			
			.footermenucolumnsmenusarea{
				
				
				position:relative;	
				display:inline-block;
				width:29%;
				max-width:29%;
				min-width:29%;
				height:auto;
				margin:0 auto;
				margin-bottom:5px;
				padding:0;
				padding-top:5px;
				padding-bottom:5px;
				overflow:hidden;
				overflow:hidden;
				border:none;
				outline:none;
				font-family:Arial, "Helvatica Neue" , Helvatica, sans-serif;
				font-style:normal;
				font-size:15px;
				font-variant:normal;
				font-weight:normal;
				text-align:left;
				text-decoration:none;
				vertical-align:top;
				line-height:1.5;
				left:32px;
								
			}
			
					
	@media only screen and (min-width:1200px){      /* xl */
		
		.footermenucolumnsmenusarea{
		
				font-size:15px;
			
		}
			}

	@media only screen and (min-width:992px) and (max-width:1199px){    /* l */
		
		.footermenucolumnsmenusarea{
			
			font-size:14px;
		}
	}
	
	@media only screen and (min-width:768px) and (max-width:991px){    /* m */
		
		.footermenucolumnsmenusarea{
		
			font-size:13px;
		}
	}
	@media only screen and (min-width:576px) and (max-width:767px){    /* s */
		
		.footermenucolumnsmenusarea{
			
			font-size:12px;
	}
	}
	
	@media only screen and (max-width:575px){    /* xs */
		
		.footermenucolumnsmenusarea{

		font-size:12px;

		}
	}		
			
			.footermenucolumnsmenusarea a{
				font-family:Arial, "Helvatica Neue" , Helvatica, sans-serif;
				font-style:normal;
				font-size:15px;
				font-variant:normal;
				font-weight:normal;
				text-align:left;
				text-decoration:none;
				vertical-align:top;
				line-height:1.5;
				color:black;
								
				
			}
			
			.footermenucolumnsmenusarea a:link, .footermenucolumnsmenusarea a:active, .footermenucolumnsmenusarea a:visited {
				
				font-family:Arial, "Helvatica Neue" , Helvatica, sans-serif;
				font-style:normal;
				font-size:15px;
				font-variant:normal;
				font-weight:normal;
				text-align:left;
				text-decoration:none;
				vertical-align:top;
				line-height:1.5;
				color:black;
				
	
			}
			
			
			.footermenucolumnsmenusarea a:hover{


				font-family:Arial, "Helvatica Neue" , Helvatica, sans-serif;
				font-style:normal;
				font-size:15px;
				font-variant:normal;
				font-weight:normal;
				text-align:left;
				text-decoration:underline;
				vertical-align:top;
				line-height:1.5;
				color:green;




			}		
			
			
			#resultpagearea{
				
				position:relative;
				display:block;
				width:100%;
				max-width:100%;
				min-width:100%;
				height:auto;
				margin:0 auto;
				padding:0;
				border:none;
				outline:none;
				background-color:white;
				vertical-align:top;
				text-align:center;
			
				
				
			}
			
			@media only screen and (min-width:1200px){      /* xl */
		
		#resultpagearea{
		
				padding-top:10px;
				padding-bottom:10px;
			
			}
				}

		@media only screen and (max-width:1199px){    /* l */
		
		.#resultpagearea{
			
			padding-top:10px;
			padding-bottom:10px;
			
		}
	}
	
			
			#resultpageborderarea{
				
				position:relative;
				display:block;
				height:auto;
				margin:0 auto;
				padding:0;
				/* border:1px solid gray; */
				overflow:hidden;
				background-color:white;
				text-align:center;
				vertical-align:middle;
				
				
				
			}
			
			@media only screen and (min-width:1200px){      /* xl */
		
		#resultpageborderarea{
		
				font-size:15px;
				width:calc(1175px - 12px);
				min-width:calc(1175px - 12px);
				max-width:calc(1175px - 12px);
		}
			}

	@media only screen and max-width:1199px){    /* l ,m,s,xs*/
		
		#resultpageborderarea{
			
			font-size:14px;
			width:calc(100% - 12px);
			min-width:calc(100% - 12px);
			max-width:calc(100% - 12px);
		}
	}
	
			
			#resultpageinfoarea{
				
			display:block;
			height:auto;
			margin:0 auto;
			padding:0;
			overflow:hidden;
			border:none;
			outline:none;
			background-color:#FFF;
			text-align:center;
			vertical-align:top;
				
				
				
				
			}
			
			@media only screen and (min-width:1200px){      /* xl */
		
		#resultpageinfoarea{
		
			width:calc(100% - 40px);
			min-width:calc(100% - 40px);
			max-width:calc(100% - 40px);
			
			
		}
			}

	@media only screen and (min-width:992px) and (max-width:1199px){    /* l */
		
		#resultpageinfoarea{
			
			width:calc(100% - 36px);
			min-width:calc(100% - 36px);
			max-width:calc(100% - 36px);
			
		}
	}
	
	@media only screen and (min-width:768px) and (max-width:991px){    /* m */
		
		#resultpageinfoarea{
		
			width:calc(100% - 32px);
			min-width:calc(100% - 32px);
			max-width:calc(100% - 32px);
		
		}
	}
	@media only screen and (min-width:576px) and (max-width:767px){    /* s */
		
		#resultpageinfoarea{
			
			width:calc(100% - 28px);
			min-width:calc(100% - 28px);
			max-width:calc(100% - 28px);
			
	}
	}
	
	@media only screen and (max-width:575px){    /* xs */
		
		#resultpageinfoarea{

			width:calc(100% - 40px);
			min-width:calc(100% - 24px);
			max-width:calc(100% - 24px);
			max-width:calc(100% - 24px)

		}
	}		
			
			#resultpageprocessarea{
				
				display:block;
				width:100%;
				max-width:100%;
				min-width:100%;
				height:308px;
				margin:0 auto;
				padding:0;
				overflow:hidden;
				outline:none;
				background-color:#FFF;
				text-align:center;
				text-decoration:none;
				vertical-align:top;
				
							
			}
			
			@media only screen and (min-width:1200px){      /* xl */
		
		#resultpageprocessarea{
		
			margin-top:40px;
			margin-bottom:20px;
			
			
		}
			}

	@media only screen and (min-width:992px) and (max-width:1199px){    /* l */
		
		#resultpageprocessarea{
			
			margin-top:35px;
			margin-bottom:18px;
		}
	}
	
	@media only screen and (min-width:768px) and (max-width:991px){    /* m */
		
		#resultpageprocessarea{
		
			margin-top:30px;
			margin-bottom:16px;
		}
	}
	@media only screen and (min-width:576px) and (max-width:767px){    /* s */
		
		#resultpageprocessarea{
			
			margin-top:25px;
			margin-bottom:14px;
			
	}
	}
	
	@media only screen and (max-width:575px){    /* xs */
		
		#resultpageprocessarea{

			margin-top:20px;
			margin-bottom:12px;

		}
	}		
			
			#resultpageprocessarea img{
				
			display:block;
			width:299px;
			min-width:299px;
			max-width:299px;	
			height:308px;
			min-height:308px;
			max-height:308px;	
			margin:0 auto;
			padding:0;
			outline:none;
			
			
			}
			
			#processcomplate{
				
			display:block;
			width:100%;
			height:auto;
			margin:0 auto;
			padding:0;
			overflow:hidden;
			border:none;
			outline:none;
			font-family:Arial, "Helvatica Neue" , Helvatica, sans-serif;
			font-style:normal;
			font-size:15px;
			font-variant:normal;
			font-weight:600;
			text-align:center;
			text-decoration:none;
			vertical-align:top;
			line-height:120%;
				
				
	
				
			}
			
		@media only screen and (min-width:1200px){      /* xl */
		
		#processcomplate{
		
			font-size:14;
			margin-bottom:20px;
			
		}
			}

	@media only screen and (min-width:992px) and (max-width:1199px){    /* l */
		
		#processcomplate{
			
			font-size:13;
			margin-bottom:18px;
		}
	}
	
	@media only screen and (min-width:768px) and (max-width:991px){    /* m */
		
		#processcomplate{
		
			font-size:12;
			margin-bottom:16px;
		}
	}
	@media only screen and (min-width:576px) and (max-width:767px){    /* s */
		
		#processcomplate{
			
			font-size:12;
			margin-bottom:14px;
			
	}
	}
	
	@media only screen and (max-width:575px){    /* xs */
		
		#processcomplate{

			font-size:12;
			margin-bottom:12px;

		}
	}
			
			
			#resultpagecontentarea{
								
			display:block;
			width:100%;
			height:auto;
			margin:0 auto;
			padding:0;
			overflow:hidden;
			border:none;
			outline:none;
			font-family:Arial, "Helvatica Neue" , Helvatica, sans-serif;
			font-style:normal;
			font-size:15px;
			font-variant:normal;
			font-weight:normal;
			text-align:center;
			text-decoration:none;
			vertical-align:top;
			line-height:120%;
				
				
				}
			
		@media only screen and (min-width:1200px){      /* xl */
		
		#resultpagecontentarea{
		
			font-size:14;
			margin-bottom:45px;
			
		}
			}

	@media only screen and (min-width:992px) and (max-width:1199px){    /* l */
		
		#resultpagecontentarea{
			
			font-size:13;
			margin-bottom:40px;
		}
	}
	
	@media only screen and (min-width:768px) and (max-width:991px){    /* m */
		
		#resultpagecontentarea{
		
			font-size:12;
			margin-bottom:35px;
		}
	}
	@media only screen and (min-width:576px) and (max-width:767px){    /* s */
		
		#resultpagecontentarea{
			
			font-size:12;
			margin-bottom:30px;
			
	}
	}
	
	@media only screen and (max-width:575px){    /* xs */
		
		#resultpagecontentarea{

			font-size:12;
			margin-bottom:25px;

		}
	}
				
		#resultpagecontentarea a{
			
			font-family:Arial, "Helvatica Neue" , Helvatica, sans-serif;
			font-style:normal;
			font-size:15px;
			font-variant:normal;
			font-weight:normal;
			text-decoration:none;
			
			
			
			
			
		}
		
		
		
			#resultpagecontentarea a:link #resultpagecontentarea a:active #resultpagecontentarea a:visited {
			
			font-family:Arial, "Helvatica Neue" , Helvatica, sans-serif;
			font-style:normal;
			font-size:15px;
			font-variant:normal;
			font-weight:normal;
			text-decoration:none;
			
			
			
			
			
		}
			
			#resultpagecontentarea a:hover{
			
			color:green;
			font-family:Arial, "Helvatica Neue" , Helvatica, sans-serif;
			font-style:normal;
			font-size:15px;
			font-variant:normal;
			font-weight:normal;
			text-decoration:underline;
			
			
			
			
			
		}
			
			
			#fullPageFrameArea{
				
				position:relative;
				display:block;
				width:100%;
				height:auto;
				margin:0 auto;
				padding:0;
				border:none;
				outline:none;
				background-color:#EEE;
				vertical-align:top;
				text-align:center;
							
				

			}
			
		

		@media only screen and (min-width:1200px){      /* xl */
		
		#fullPageFrameArea{
		
				padding-top:10px;
				padding-bottom:10px;
			
			}
				}

		@media only screen and (max-width:1199px){    /* l */
		
		#fullPageFrameArea{
			
			padding-top:5px;
			padding-bottom:5px;
			
		}
	}
	
		
			
			
			#fullPageFrameBorderArea{
				
				position:relative;
				display:block;
				width:100%;
				height:auto;
				margin:0 auto;
				padding:0;
				border:1px solid #DDD;
				outline:none;
				overflow:hidden;
				
				background-color:#FFF;
				vertical-align:middle;
				text-align:center;
					
			



				}

		
		@media only screen and (min-width:1200px){      /* xl */
		
		#fullPageFrameBorderArea{
		
			width:calc(1175px - 52px);
			min-width:calc(1175px - 52px);
			max-width:calc(1175px - 52px);
			padding:20px;
			
			
			
		}
			}


	@media only screen and (min-width:992px) and (max-width:1199px){    /* l */
		
		#fullPageFrameBorderArea{
		
			width:calc(1175px - 48px);
			min-width:calc(1175px - 48px);
			max-width:calc(1175px - 48px);
			padding:18px;
			
		}
	}
	
	@media only screen and (min-width:768px) and (max-width:991px){    /* m */
		
		#fullPageFrameBorderArea{
		
			width:calc(1175px - 44px);
			min-width:calc(1175px - 44px);
			max-width:calc(1175px - 44px);
			padding:16px;
			
		}
	}
	@media only screen and (min-width:576px) and (max-width:767px){    /* s */
		
		#fullPageFrameBorderArea{
		
			width:calc(1175px - 40px);
			min-width:calc(1175px - 40px);
			max-width:calc(1175px - 40px);
			padding:14px;
			
			
	}
	}
	
	@media only screen and (max-width:575px){    /* xs */
		
		#fullPageFrameBorderArea{
		
			width:calc(1175px - 36px);
			min-width:calc(1175px - 36px);
			max-width:calc(1175px - 36px);
			padding:12px;
			

		}
	}

		

			#fullPageFrameBorderAreaHundred{
				
				
				display:block;
				width:100%;
				height:auto;
				margin:0 auto;
				padding:0;
				border:none;
				outline:none;
				overflow:hidden;
				background-color:#FFF;
				text-align:center;
				vertical-align:top;
				
				
				}
				
				#fullPageFrameAreaUnderlineTitle{
					
				
				display:block;
				width:100%;
				height:auto;
				margin:0 auto;
				padding:0;
				border:none;
				border-bottom:1px solid #DDD;
				outline:none;
				overflow:hidden;
				background-color:#FFF;
				vertical-align:top;
				text-align:left;
					
	
				}


				
				@media only screen and (min-width:1200px){      /* xl */
		
		#fullPageFrameAreaUnderlineTitle{
		
			font-size:14px;
			padding-bottom:20px;
			
		}
			}

	@media only screen and (min-width:992px) and (max-width:1199px){    /* l */
		
		#fullPageFrameAreaUnderlineTitle{
			
			font-size:13px;
			padding-bottom:18px;
		}
	}
	
	@media only screen and (min-width:768px) and (max-width:991px){    /* m */
		
		#fullPageFrameAreaUnderlineTitle{
		
			font-size:12px;
			padding-bottom:16px;
		}
	}
	@media only screen and (min-width:576px) and (max-width:767px){    /* s */
		
		#fullPageFrameAreaUnderlineTitle{
			
			font-size:12px;
			padding-bottom:14px;			
	}
	}
	
	@media only screen and (max-width:575px){    /* xs */
		
		#fullPageFrameAreaUnderlineTitle{

			font-size:12px;
			margin-bottom:12px;

		}
	}
				
				
			
			
			
			#fullPageFrameAreaUnderlineTitleTopTitleText{
				
				display:block;
				width:100%;
				height:auto;
				margin:0 auto;
				padding:0;
				border:none;
				outline:none;
				overflow:hidden;
				background-color:#FFF;
				vertical-align:top;
				text-align:left;
				font-family:Arial, "Helvatica Neue" , Helvatica, sans-serif;
				color:black;
				font-style:normal;
				text-decoration:none;
				vertical-align:top;
				line-height:120%;
				text-align:left;
				
		
				
				
			}
			

			
		@media only screen and (min-width:1200px){      /* xl */
		
		#fullPageFrameAreaUnderlineTitleTopTitleText{
		
			font-size:18px;
			
			
		}
			}

	@media only screen and (min-width:992px) and (max-width:1199px){    /* l */
		
		#fullPageFrameAreaUnderlineTitleTopTitleText{
			
			font-size:16px;
		
		}
	}
	
	@media only screen and (min-width:768px) and (max-width:991px){    /* m */
		
		#fullPageFrameAreaUnderlineTitleTopTitleText{
		
			font-size:14px;
		}
	}
	@media only screen and (min-width:576px) and (max-width:767px){    /* s */
		
		#fullPageFrameAreaUnderlineTitleTopTitleText{
			
			font-size:14px;			
	}
	}
	
	@media only screen and (max-width:575px){    /* xs */
		
		#fullPageFrameAreaUnderlineTitleTopTitleText{

			font-size:14px;
		}
	}
			
			
				
			
			#fullPageFrameAreaUnderlineTitleBottomTitleText{
				
				display:block;
				width:100%;
				height:auto;
				margin:0 auto;
				padding:0;
				border:none;
				outline:none;
				overflow:hidden;
				background-color:#FFF;
				vertical-align:top;
				text-align:left;
				font-family:Arial, "Helvatica Neue" , Helvatica, sans-serif;
				color:#646464;
				font-style:normal;
				text-decoration:none;
				vertical-align:top;
				line-height:120%;
				text-align:left;
				
		
				
				
			}
			
			
		@media only screen and (min-width:1200px){      /* xl */
		
		#fullPageFrameAreaUnderlineTitleBottomTitleText{
		
			font-size:14px;
			
			
		}
			}

	@media only screen and (min-width:992px) and (max-width:1199px){    /* l */
		
		#fullPageFrameAreaUnderlineTitleBottomTitleText{
			
			font-size:12px;
		
		}
	}
	
	@media only screen and (min-width:768px) and (max-width:991px){    /* m */
		
		#fullPageFrameAreaUnderlineTitleBottomTitleText{
		
			font-size:12px;
		}
	}
	
			
				
			
			#fullPageFrameAreaUnderlineInfoText{
				
				position:relative;
				display:block;
				width:100%;
				height:auto;
				margin:0 auto;
				padding:0;
				padding-top:10px;
				border:none;
				outline:none;
				overflow:hidden;
				background-color:#FFF;
				vertical-align:top;
				text-align:left;
				font-family:Arial, "Helvatica Neue" , Helvatica, sans-serif;
				color:#646464;
				font-style:normal;
				text-decoration:none;
				vertical-align:top;
				line-height:130%;
				text-align:left;
				
		
				
				
			}
			
			
		@media only screen and (min-width:1200px){      /* xl */
		
		#fullPageFrameAreaUnderlineInfoText{
		
			font-size:14px;
			
			
		}
			}

	@media only screen and (min-width:992px) and (max-width:1199px){    /* l */
		
		#fullPageFrameAreaUnderlineInfoText{
			
			font-size:12px;
		
		}
	}
	
	@media only screen and (min-width:768px) and (max-width:991px){    /* m */
		
		#fullPageFrameAreaUnderlineInfoText{
		
			font-size:12px;
		}
	}
	
	


	
				
			
			.slideArea{
				
				
				position:relative;
				display:block;
				width:100%;
				max-width:100%;
				min-width:100%;
				height:auto;
				margin:0 auto;
				padding:0;
				overflow:hidden;
				border:none;
				outline:none;
				background-color:#FFF;
				text-align:center;
				vertical-align:top;
					bottom:27px;
				border:1px solid black;
				
				
			}
			
			
			.slideAreaPictures{
				
				
				position:relative;
				display:block;
			
				height:auto;
				margin:0 auto;
				list-style:none;
				padding:0;
				overflow:hidden;
				border:none;
				outline:none;
				background-color:#FFF;
				vertical-align:top;
				text-align:center;
				
				
				
				
			}
			
			
			.slidePic{
				position:relative;
				float:left;
				display:inline-block;
				width:100%;
				height:auto;
				margin:0 auto;
				list-style:none;
				padding:0;
				overflow:hidden;
				border:none;
				outline:none;
				background-color:#FFF;
				vertical-align:top;
				font-size:0;
				text-align:left;
		
				
			}
			
			
			.slidePic img{
			
				width:100%;
				max-width:100%;
				min-width:100%;
				height:auto;
				margin:0 auto;
				padding:0;
				overflow:hidden;
				border:none;
				outline:none;
			
				
			
			}
			
			
			
			#fullPageFrameBorderAreafiftyleft{
				
				display:inline-block;
				float:left;
				height:auto;
				margin:0 auto;
				padding:0;
				border:none;
				outline:none;
				background-color:#FFF;
				text-align:center;
				vertical-align:top;
				
				
				
				
				
				
			}
			
			
					
		@media only screen and (min-width:1200px){      /* xl */
		
		#fullPageFrameBorderAreafiftyleft{
		
			width:calc(50% - 10px);
			max-width:calc(50% - 10px);
			min-width:calc(50% - 10px);
			
		}
			}

	@media only screen and (min-width:992px) and (max-width:1199px){    /* l */
		
		#fullPageFrameBorderAreafiftyleft{
			
			width:calc(50% - 9px);
			max-width:calc(50% - 9px);
			min-width:calc(50% - 9px);
		
		}
	}
	
	@media only screen and (min-width:768px) and (max-width:991px){    /* m */
		
		#fullPageFrameBorderAreafiftyleft{
		
				width:calc(50% - 8px);
			max-width:calc(50% - 8px);
			min-width:calc(50% - 8px);
		}
	}
	@media only screen and (min-width:576px) and (max-width:767px){    /* s */
		
		#fullPageFrameBorderAreafiftyleft{
			
				width:100%;
			max-width:100%;
			min-width:100%;
	}
	}
	
	@media only screen and (max-width:575px){    /* xs */
		
		#fullPageFrameBorderAreafiftyleft{
			width:100%;
			max-width:100%;
			min-width:100%;
		}
	}
			
			
			
				#fullPageFrameBorderAreafiftyright{
				
				display:inline-block;
				float:right;
				height:auto;
				margin:0 auto;
				padding:0;
				border:none;
				outline:none;
				background-color:#FFF;
				text-align:center;
				vertical-align:top;
				
				
				
				
				
				
			}
			
			
					
		@media only screen and (min-width:1200px){      /* xl */
		
		#fullPageFrameBorderAreafiftyright{
		
			width:calc(50% - 10px);
			max-width:calc(50% - 10px);
			min-width:calc(50% - 10px);
			
		}
			}

	@media only screen and (min-width:992px) and (max-width:1199px){    /* l */
		
		#fullPageFrameBorderAreafiftyright{
			
			width:calc(50% - 9px);
			max-width:calc(50% - 9px);
			min-width:calc(50% - 9px);
		
		}
	}
	
	@media only screen and (min-width:768px) and (max-width:991px){    /* m */
		
		#fullPageFrameBorderAreafiftyright{
		
				width:calc(50% - 8px);
			max-width:calc(50% - 8px);
			min-width:calc(50% - 8px);
		}
	}
	@media only screen and (min-width:576px) and (max-width:767px){    /* s */
		
		#fullPageFrameBorderAreafiftyright{
			
				width:100%;
			max-width:100%;
			min-width:100%;
	}
	}
	
	@media only screen and (max-width:575px){    /* xs */
		
		#fullPageFrameBorderAreafiftyright{
			width:100%;
			max-width:100%;
			min-width:100%;
		}
	}
			
			
			
		.allpageborderareatittletext{

		position:relative;
		display:block;
		width:100%;
		height:auto;
		margin:0 auto;
		padding:0;
		padding-top:10px;
		padding-bottom:2px;
		overflow:hidden;
		border:none;
		outline:none;
		background-color:#FFF;
		font-family:Arial, "Helvatica Neue" , Helvatica, sans-serif;
		color:#646464;
		font-style:normal;
		font-weight:normal;
		line-height:120%;
		text-align:left;
		text-decoration:none;
		vertical-align:top;



		}			
			
			
			@media only screen and (min-width:1200px){      /* xl */
		
		.allpageborderareatittletext{
		font-size:14px;
			
		}
			}

	@media only screen and (min-width:992px) and (max-width:1199px){    /* l */
		
		.allpageborderareatittletext{
			font-size:13px;
		
		}
	}
	
	@media only screen and (min-width:768px) and (max-width:991px){    /* m */
		
		.allpageborderareatittletext{
		font-size:12px;
				
		}
	}
	@media only screen and (min-width:576px) and (max-width:767px){    /* s */
		
		.allpageborderareatittletext{
		font-size:12px;
				
	}
	}
	
	@media only screen and (max-width:575px){    /* xs */
		
		.allpageborderareatittletext{
			font-size:12px;
			
		}
	}
			
				
			
		.allpageborderarealine{


		display:block;
		width:100%;
		height:auto;
		margin:0 auto;
		padding:0;
		overflow:hidden;
		border:none;
		outline:none;
		background-color:#FFF;
		text-align:left;
		vertical-align:top;





		}
	
		.buttonborderarea{
			
			
		display:block;
		width:100%;
		height:auto;
		margin:0 auto;
		padding:0;
		overflow:hidden;
		border:none;
		outline:none;
		background-color:#FFF;
		text-align:center;
		vertical-align:top;	
		text-decoration:none;
			
			
		}
		
		.formgreenbutton{
			
		width:auto;
		height:30px;
		margin:0 auto;
		margin-top:10px;
		padding-left:25px;
		padding-right:25px;
		cursor:pointer;
		border:none;
		border:1px solid black;
		border-radius:3px;
		background-color:;
		font-family:Arial, "Helvatica Neue" , Helvatica, sans-serif;
		color:#646464;
		font-style:normal;
		font-weight:normal;
		line-height:120%;
		text-align:left;
		text-decoration:none;
		vertical-align:middle;
		
		
		
		
		}
		
		@media only screen and (min-width:1200px){      /* xl */
		
		.formgreenbutton{
		font-size:14px;
			
		}
			}

	@media only screen and (min-width:992px) and (max-width:1199px){    /* l */
		
		.formgreenbutton{
			font-size:13px;
		
		}
	}
	
	@media only screen and (min-width:768px) and (max-width:991px){    /* m */
		
		.formgreenbutton{
		font-size:12px;
				
		}
	}
	@media only screen and (min-width:576px) and (max-width:767px){    /* s */
		
		.formgreenbutton{
		font-size:12px;
				
	}
	}
	
	@media only screen and (max-width:575px){    /* xs */
		
		.formgreenbutton{
			font-size:12px;
			
		}
	}
			
			
			.formgreenbutton:hover{
				
				color:black;
				background-color:green;
			}
			
			
			.formtextinputs{
				
				
				display:block;
				float:left;
				width:calc(100%	- 23px);
				min-width:calc(100%	- 23px);
				max-width:calc(100%	- 23px);
				height:33px;
				min-height:33px;
				max-height:33px;
				margin:0 auto;
				padding:0;
				padding-left:10px;
				padding-right:10px;
				background-color:#FFF;
				border:none;
				border:1px solid #CCC;
				border-radius:3px;
				outline:none;
				font-family:Arial, "Helvatica Neue" , Helvatica, sans-serif;
				color:black;
				font-style:normal;
				font-weight:normal;
				line-height:120%;
				text-align:left;
				text-decoration:none;
				vertical-align:middle;
				transition:all 250ms ease-in-out;
				
			}
			
		.formtextinputs:focus{
			
			border: 2px solid green;
			transition:all 250ms ease-in-out;
			
		}
		
		
		
		@media only screen and (min-width:1200px){      /* xl */
		
		.formtextinputs{
		font-size:14px;
			
		}
			}

	@media only screen and (min-width:992px) and (max-width:1199px){    /* l */
		
		.formtextinputs{
			font-size:13px;
		
		}
	}
	
	@media only screen and (min-width:768px) and (max-width:991px){    /* m */
		
		.formtextinputs{
		font-size:12px;
				
		}
	}
	@media only screen and (min-width:576px) and (max-width:767px){    /* s */
		
		.formtextinputs{
		font-size:12px;
				
	}
	}
	
	@media only screen and (max-width:575px){    /* xs */
		
		.formtextinputs{
			font-size:12px;
			
		}
	}
		

			
			
			
			
			
			.FormTextArea{
				
				
				display:block;
				float:left;
				width:calc(100%	- 23px);
				min-width:calc(100%	- 23px);
				max-width:calc(100%	- 23px);
				height:86px;
				min-height:86px;
				max-height:86px;
				margin:0 auto;
				padding:0;
				padding-top:6px;
				padding-left:10px;
				padding-right:10px;
				padding-bottom:6px;
				background-color:#FFF;
				border:none;
				border:1px solid #CCC;
				border-radius:3px;
				outline:none;
				font-family:Arial, "Helvatica Neue" , Helvatica, sans-serif;
				color:black;
				font-style:normal;
				font-weight:normal;
				line-height:120%;
				text-align:left;
				text-decoration:none;
				vertical-align:middle;
				transition:all 250ms ease-in-out;
				
			}
			
		.FormTextArea:focus{
			
			border: 2px solid green;
			transition:all 250ms ease-in-out;
			
		}
		
		
		
		@media only screen and (min-width:1200px){      /* xl */
		
		.FormTextArea{
		font-size:14px;
			
		}
			}

	@media only screen and (min-width:992px) and (max-width:1199px){    /* l */
		
		.FormTextArea{
			font-size:13px;
		
		}
	}
	
	@media only screen and (min-width:768px) and (max-width:991px){    /* m */
		
		.FormTextArea{
		font-size:12px;
				
		}
	}
	@media only screen and (min-width:576px) and (max-width:767px){    /* s */
		
		.FormTextArea{
		font-size:12px;
				
	}
	}
	
	@media only screen and (max-width:575px){    /* xs */
		
		.formtextinputs{
			font-size:12px;
			
		}
	}
	
	
	
	
	
	
	
			.fullpageborderareaparagraph{
				
				display:block;
				width:100%;
				height:auto;
				margin:0 auto;
				padding:0;
				padding-top:10px;
				
				
				
				
				
				
			}
			
			
			#publicİnfoArea{
				
				display:block;
				width:100%;
				height:250px;
				margin:0 auto;
				padding:0;
				padding-top:10px;
				background-color:;
				
				
			}
			
			#projectİnfotext{
				
				
				position:relative;
				float:left;
				width:250px;
				height:250px;
				margin:0 auto;
				/* margin-top:5px; */
				/* padding-bottom:5px; */
				padding-left:55px;
				padding-right:55px;
				/* cursor:pointer; */
				border:none;
				border:1px solid black;
				border-radius:3px;
				font-family:Arial, "Helvatica Neue" , Helvatica, sans-serif;
				color:#646464;
				font-style:normal;
				font-weight:normal;
				line-height:120%;
				text-align:left;
				text-decoration:none;
				vertical-align:middle;
				
				
			}
			
			
			.written_textar{
				
				border:1px solid black;
			
				
				
				
			}
			
			h1 {
    margin-bottom: 40px
}

label {
    color: #333
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px
}

.card {
    margin-left: 10px;
    margin-right: 10px
}